@import "reset";
@import "angle";


html {
  font-size: 18px; /* 18px = 1rem */
}

html, body, #page {
  height: 100%;
}

body, p, span, div {
  // font-family: "Lato", sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 300;
  line-height: 1.53em; /* 1.45 */
  -webkit-font-smoothing: antialiased;
  color: #333;
}

.responsive_image {
  /* CSS hack to show background-image at perfect size. See: http://stackoverflow.com/a/13625843 */
  height: 0;
  /*padding-bottom: 100%;*/
  /*padding-bottom: height/width*/
  height: 0;

  display: block;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  width: 100%;
  background-size: contain;
}

.homepage {
  h2 {
    display: inline-block;
    font-size: 1.8em;
    padding-bottom: 20px;
    border-bottom: 1px solid #B7B7B7;
    margin-bottom: 20px;
  }

  .homepage_step {
    display: flex;
    margin-top: 60px;

    .step_info {
      max-width: 370px;
    }
  }

  .step1 {
    margin-bottom: 70px;
  }

  .step2 {
    background-color: #FC7460;
    .step_info {
      margin-top: 100px;
      margin-left: 90px;
      color: white;
      // @include angle(after, false, 5deg);

      h2 {
        border-color: rgba(255, 255, 255, 0.68);
      }

      p {
        color: white;
        font-weight: 400;
      }

      h2, p {
        text-shadow: 0px 1px 2px #CF604F;
      }
    }
  }

  .step3 {
    margin-top: 90px;
  }

  .pencil_icon {
    max-width: 250px;
    max-height: 250px;
    margin-left: auto;
  }

  .rocket_icon {
    max-width: 250px;
    max-height: 249px;
    margin-left: auto;
  }

  .map_image {
    max-width: 550px;
    max-height: 613px;
  }

  hr {
    width: 80%;
    border: 0;
    height: 1px;
    background: #D0D0D0;
    margin-top: 90px;
    margin-bottom: 50px;
  }

  .homepage_call_to_action {
    text-align: center;
    margin-bottom: 100px;

    .homepage_cta_large_text {
      font-size: 1.25em;
      margin-bottom: 10px;
    }

    .homepage_cta_subtext {
      margin-bottom: 25px;
    }
  }

}

.container {
  width: 100%;
  // max-width: 1024px;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.button {
  display: inline-block;
  text-align: center;
  border-radius: 8px;
  font-weight: 400;
  width: 160px;
  line-height: 3rem;
  font-size: 1.2em;
  cursor: pointer;
  text-decoration: none;
}

.large_button {
  width: 200px;
  line-height: 3.5rem;
  font-size: 1.35em;
}

.small_button {
  line-height: 2.4rem;
  width: 100px;
}

.purple_button {
  background-color: #C64B83;
  color: white;
  text-shadow: 0px 1px 2px #973863;
}

.salmon_button {
  background-color: #FC7460;
  color: white;
  text-shadow: 0px 1px 2px #D46150;
}


/* text styles */
.serif_text {
  font-family: 'Roboto Slab', serif;
}

.sans_serif_text {
  font-family: 'Open Sans', sans-serif;
}


/* promo styles */
.promo_container {
  background-color: #332B47;
}

.promo_image {
  display: flex;
  align-items: flex-end;
  background-image: url("img/sleeping_person_promo_alt.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 500px;
  height: 100%;

  .promo_text_container {
    margin-bottom: 70px;
    background-color: rgba(51, 51, 51, 0.65);
    width: 100%;
    // height: 60px;
  }

  .promo_text {
    color: white;
    font-weight: 700;
    font-size: 2.2em;
    line-height: 2.6em;
  }
}

// shared page styles
.quiz_page, .roadmap_page, .content_page {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #EB6C59;
}

.back_to_roadmap {
  display: block;
  text-decoration: none;
  margin-bottom: 15px;
  margin-left: 30px;

  i, span {
    color: white;
    text-shadow: 0px 1px 2px #BA5444;
  }
}

.entire_quiz_container, .entire_roadmap_container, .entire_content_container {
  h1 {
    font-size: 2.0em;
    color: white;
    display: inline-block;
    text-shadow: 0px 1px 2px #BA5444;
    margin-bottom: 20px;
    font-weight: 700;
    margin-left: 30px;
  }

  .subtitle {
    color: white;
    font-style: italic;
    margin-left: 10px;
    text-shadow: 0px 1px 2px #BA5444;
  }
}

.inner_quiz_container, .inner_roadmap_container, .inner_content_container {
  border-radius: 8px;
  box-shadow: 0px 1px 2px #BA5444;
}

// quiz page
.inner_quiz_container {
  background-color: #FFFFFF;
  width: 470px;
  padding: 30px;

  .quiz_question {
    font-size: 1.4em;
  }

  .response_choice {
    margin-bottom: 8px;
  }

  .response_text {
    margin-left: 8px;
    font-weight: 400;
  }

  .quiz_button_container {
    display: flex;
    justify-content: flex-end;
  }
}

.floating_button {
  margin-top: 208px;
  margin-left: 17px;
  width: 123px;
  height: 36px;
  position: absolute;
  border-radius: 4px;
  cursor: pointer;
}

.quiz_progress_bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;

  .outer_bar {
    background-color: white;
    border-radius: 8px;
    background-color: white;
    border-radius: 8px;
    width: 300px;
    height: 15px;
    margin-bottom: 4px;

    .bar_progress {
      transition: width 0.5s ease-in-out;
      background-color: #C64B83;
      width: 0px;
      height: 9px;
      border-radius: 8px;
      margin-top: 3px;
      margin-left: 3px;
    }
  }

  .progress_bar_text span {
    color: white;
    text-shadow: 0px 1px 2px #BA5444;
    font-weight: 400;
  }
}

// content
.entire_content_container {
  margin-top: 50px;
  margin-bottom: 50px;
}

.inner_content_container {
  background-color: white;
  // padding: 30px;

  .content_and_sidebar {
    display: flex;
  }

  h2 {
    font-size: 1.4em;
    margin-bottom: 10px;
  }

  p {
    margin-bottom: 30px;
  }

  .text_content_container {
    padding: 30px;
    max-width: 500px;
  }

  .sidebar_roadmap_container {
    padding: 30px;

    h3 {
      font-size: 1.25em;
      text-align: center;
      margin-bottom: 30px;
      padding-bottom: 15px;
      border-bottom: 1px solid #CDCDCD;
    }
  }

  .ready_for_more_container {
    padding: 0px 30px 70px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;

    h3 {
      font-size: 1.25em;
    }

    hr {
      width: 65%;
      border: 0;
      height: 1px;
      background: #D0D0D0;
      margin-bottom: 40px;
    }

    .subtext {
      margin-top: 10px;
    }

    a {
      margin-top: 25px;
    }
  }
}

.sidebar_roadmap_image {
  max-width: 300px;
}

// Roadmap
.inner_roadmap_container {
  display: flex;
  background-color: #F3F3F3;
}

.roadmap_image {
  max-height: 400px;
}

.roadmap_stops_container {
  background-color: #4C4371;
  padding-top: 30px;
  padding-bottom: 30px;
  color: white;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;

  h2 {
    font-size: 1.2em;
    padding: 0px 30px;
  }

  hr {
    border-color: rgba(255, 255, 255, 0.45);
  }

  .stop_name, .stop_description {
    color: white;
    text-shadow: 0px 1px 2px #58526F;
  }

  .stop {
    margin-bottom: 10px;
    padding: 4px 30px;
  }

  .current_stop {
    background-color: rgba(255, 255, 255, 0.2);
  }

  .stop_name {
    font-weight: 400;
  }

  .stop_description {
    font-size: 0.6em;

  }
}

.map_progress_container {
  padding: 30px;
}



