extends ../layout

block head
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js')
  script(src="../content.js", type="text/javascript")

block content
  .content_page
    .entire_content_container
      a.back_to_roadmap(href="/roadmap.html")
        i.fa.fa-angle-left
        span
          | &nbsp;back to roadmap

      h1.serif_text REM Sleep

      .inner_content_container
        .content_and_sidebar
          .text_content_container
            h2.serif_text The Beginnings
            p.
              All of us have dreams of one sort or another, and even though they may not lead to us becoming famous authors (or even be very easy to remember for that matter), most of our vivid dreaming happens during periods of the night while we are in the state of REM sleep.
            p.
              Our professor, Dr. Dement, helped discover the presence of REM sleep and its connection to dreaming in 1952, with fellow PhD student Eugene Aserinsky and their adviser, Nathaniel Kleitman.

            h2.serif_text The Basic REM Sleep Cycle
            p.
              We alternate between two very different behavioral states while we sleep, REM (rapid eye movement) sleep and non-REM sleep. Non-REM sleep tends to take up about 75% of the time we spend asleep, while REM sleep takes up the other 25% and begins around 90 minutes after we fall asleep. As the night progresses the REM periods we experience get increasingly longer and by the time we come to our fourth of fifth REM period, we stay in REM sleep for about 30-45 minutes.
            p.
              While both states have a few characteristics in common, such as a lack of perceptual awareness to the outside world and a general absence of body movement, the differences between the two are quite defined. Non-REM is divided into four distinct stages with brain wave patterns that are completely different than those in REM sleep.

            h2.serif_text REM Characteristics - An Active Brain
            p.
              Brain activity during REM sleep is amazingly very comparable to our brain activity during wakefulness. Different parts of the brain show different levels of activity, some parts more active during REM and some parts less, but the overall picture is that the brain in REM sleep is highly active.
            p.
              Seeing as REM is the part of the night that dreaming occurs, this makes sense intuitively. In waking life the brain perceives and reacts to the world around us. During dreaming the brain is not only perceiving and reacting, but also creating the vivid environment in which the dream takes place.
            p.
              A fair amount of the brain activity during REM consists of motor outputs--our brains essentially trying to communicate with our bodies about what's going on in the dream world (i.e. There's a monster chasing you! Legs, run!!). Thankfully, most of us don't get up and run out of bed when our brain tells us to or the walls of our bedrooms would likely have some serious dents by now. But why don't we? What stops us from acting out our dreams? That's where the paralysis comes in.

            h2.serif_text REM Characteristics - A Paralyzed Body
            p.
              While the brain is highly active in sending all sorts of motor instruction to the body during REM sleep, a brain mechanism known as REM atonia actively prevents these motor potentials from ever reaching the muscles. REM atonia inhibits the final nerve pathways to the vast majority of muscles, cutting the signals off at the spinal cord.
            p.
              Only the eye muscles (which are commanded by cranial nerves) and diaphragm (so we can breathe) are exempt from the paralysis. Everything else is effectively paralyzed. This makes it pretty easy to detect REM sleep by looking at an EMG, which measures motor activity in the chin during sleep, because the line goes virtually flat.

            h2.serif_text REM Characteristics - Rapid Eye Movements
            p.
              Another important characteristic of REM sleep, as the name suggests, is the presence of binocularly synchronous, rapid eye movements. As mentioned above, the eye muscles are exempt from the paralysis. Interestingly, the eye patterns during REM sleep many times match the visual field movements in the dream world. In other words, your real eyes move to see what you are seeing in the dream world. Wild, huh?!

            p.
              This is known as the scanning hypothesis. It started with some simple observations of EOG recordings, which measure eye movements during sleep. Researchers once noticed that a dreamer's EOG recordings during REM sleep were far more regular than they normally tend to be. The recordings showed the subject's eyes to be moving directly back and forth continuously at regular intervals. The researchers were intrigued and asked the subject what he had been dreaming. The subject responded he had been at the side of the net watching a ping pong match, and the scanning hypothesis was born!

          .sidebar_roadmap_container
            h3.serif_text Your Roadmap
            img(src="../img/sidebar_roadmap_essentials.png").sidebar_roadmap_image

        .ready_for_more_container
          hr
          h3.serif_text Ready for more?
          .subtext
            | You've completed the Essentials section! It's time for Dreaming!
          a.button.salmon_button(href="/dreaming/purpose-of-dreaming.html")
            | Let's go!

